.custom-button-login {
    box-sizing: border-box;
    font-family: "BAHNSCHRIFT";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem 0.6rem;
    border: 3px solid black;
    transition: all 0.3s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    backface-visibility: hidden;
    &:hover,
    &:focus {
        outline: none;
        cursor: pointer;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
}

.custom-button {
    box-sizing: border-box;
    font-family: "BAHNSCHRIFT";
    font-weight: lighter;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    border: 2px solid;
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    margin: 1px;
    transition: all 0.3s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    backface-visibility: hidden;



    &:hover,
    &:focus {
        outline: none;
        cursor: pointer;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
    &:disabled:hover{
        outline: none;
        cursor: not-allowed;
        transform: none;
        box-shadow: none;
    }

}
