.custom-button {
	box-sizing: border-box;
	font-family: "BAHNSCHRIFT";
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	border-radius: 2rem;
	padding: 0.5rem;
	border: 0.3rem solid black;
	transition: all 0.3s;
	height: 5rem;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	backface-visibility: hidden;

	&:hover, &:focus {
		cursor: pointer;
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	}
}
