@import "./src/assets/styles/colors";
@import '../../assets/styles/mixins';

.schedule {
    width: 95%;
    max-width: 115rem;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    border-spacing: 0;
    border-radius: 1em;
    border: 0.1rem solid $color-grey-borders;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.025);
    th {
        padding: 0.4rem 0.2rem;
        border: none;
        color: black;
        font-size: 1.5rem;
    }
    th:not(:first-child) {
        font-size: 0;
        &::first-letter {
            font-size: 1.5rem;
        }
    }
    td {
        word-wrap: break-word;
        padding: 0.4rem 0.2rem;
        font-size: 1em;
        border: none;
        background-color: white;
        color: $color-grey-font;
    }
    .header-row {
        background-color: $primary-color;
    }
}


@include respond(desktop) {
    .schedule {
        overflow: hidden;
        flex-grow: 1;
        box-sizing: border-box;
        border-spacing: 0;
        font-size: 0.85rem;
        border-radius: 1em;
        border: 0.1rem solid $color-grey-borders;
        th {
            font-size: 1.7rem;
            padding: 0.5em 0.2em;
            border: none;
            color: black;
        }
        th:not(:first-child) {
            font-size: 1.7rem;
            &::first-letter {
                font-size: 1.7rem;
            }
        }
        td {
            word-wrap: break-word;
            padding: 0.6rem 1.5rem;
            font-size: 2em;
            border: none;
            background-color: white;
            color: $color-grey-font;
        }
        .header-row {
            background-color: $primary-color;
        }
    }
}

@include respond(tab-port) {
    .schedule {
        font-size: 1.2rem;
        th {
            font-size: 1.2rem;
        }
        th:not(:first-child) {
            font-size: 0;
            &::first-letter {
                font-size: 1.2rem;
            }
        }
        td{
            font-size: 1.2rem;
            padding: 0.4rem 0.4rem;
        }
    }
}

@include respond(big-tab-port) {
    .schedule {
        font-size: 1.6rem;
        th {
            font-size: 1.7rem;
        }
        th:not(:first-child) {
            font-size: 2.1;
            &::first-letter {
                font-size: 1.7rem;
            }
        }
        td{
            padding: 1rem 0.6rem;
        }
    }
}

@include respond(phone) {
    .schedule {
        font-size: 0.7rem;
        th {
            font-size: 1.4rem;
            padding: 0.5em 0.2em;
        }
        th:not(:first-child) {
            font-size: 0;
            &::first-letter {
                font-size: 1.4rem;
            }
        }
        td{
            font-size: 1.3rem;
            padding: 0.4rem 0.4rem;
        }
    }
}
@include respond(small-phone) {
    .schedule {
        font-size: 0.6rem;
        th {
            font-size: 1.2rem;
            padding: 0.5em 0.2em;
        }
        th:not(:first-child) {
            font-size: 0;
            &::first-letter {
                font-size: 1.2rem;
            }
        }
        td{
            font-size: 1.1rem;
            padding: 0.2rem 0.5rem;
        }
    }
}