.login-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 60rem;
	width: 45rem;
	box-sizing: border-box;
	border-radius: 11rem;
	background-color: white;
	border: solid 0.35rem rgba(0, 0, 0, 0.6);
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}

.logo-container{
	position: absolute;
	width: 30rem;
	transform: translateY(-25rem);
}
