.sign-out-button {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	align-items: center;

	&:hover {
        cursor: pointer;
        color: darkslategray;
	}
}

.text {
	display: inline;
	align-self: center;
}

.icon {
	margin-left: 0.5rem;
	margin-top: 0.4rem;
}
