.sidebar-item {
  transition: all 0.7s;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  padding: 2.5rem 4rem;
  background-color: transparent;
  color: black;
  &:hover {
    background-color: #e4b71379;
  }
  &-active {
    background-color: #e4b613;
    &:hover {
      background-color: #e4b613;
    }
  }
}
