@import '../../assets/styles/animations';
@import './src/assets/styles/colors';

.classes-page {
	animation: appearOutOfNowhere 500ms;

	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95%;

	.class-container {
		overflow-y: scroll;
		height: 100%;
		border-radius: 2rem;
		border: solid 1px $color-grey-borders;
		display: flex;
		background-color: white;
		flex-flow: column;
		align-items: center;
		font-size: 6rem;
		width: 95%;
	}
}

@media (min-width: 1025px) {
	.classes-page {
		animation: appearOutOfNowhere 500ms;
		transition: all 0.3s;
		display: flex;
		height: 95%;

		.class-container {
			display: flex;
			flex-flow: row;
			justify-content: center;
			flex-wrap: wrap;
			
			height: 100%;
			border-radius: 2rem;
			border: solid 1px $color-grey-borders;
			background-color: white;
			font-size: 6rem;
			width: 95%;

			.class-component {
				margin: 1rem;
			}
		}
	}
}
