@import '../../assets/styles/animations';

.classes-page {
	animation: appearOutOfNowhere 500ms;

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	transition: all 0.3s;
}
