@import "../../assets/styles/mixins";

.user-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2.5vh 1vw;
  @include respond(phone){
    height: auto;
  }
}

.user-details-container {
  display: flex;
  margin-bottom: 2vh;
}

.tabs {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  @include respond(big-tab-port){
    justify-content: space-evenly;
    height: 30rem;
  }
  & span {
    margin: 3vh 0;
  }
}
