@import '../../assets/styles/animations';
@import './src/assets/styles/colors';

.home-page {
	animation: appearOutOfNowhere 500ms;

	height: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	font-size: 6rem;
	transition: all 0.3s;
}

.home-page-mobile {
	display: none;
}

.home-page-web {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
}

.for-today {
	padding: 2rem;
	border: 1px solid $color-grey-borders;
	border-radius: 1rem;
}

.today-is {
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.little-card {
	margin: 10px;
	background-color: white;
	height: 20;
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	.home-page {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.home-page-mobile {
		flex-direction: column;
		justify-content: space-evenly;
		display: flex !important;
		width: auto;
		height: 100%;
		margin: 0 0.2em;
	}
	.home-page-web {
		display: none;
	}

	.today-is {
		font-weight: bold;
		display: flex;
		justify-content: center;
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}

	.for-today {
		padding: 0rem;
		border: 0px solid $color-grey-borders;
		border-radius: 0rem;
	}
}
