@import '../../assets/styles/animations';
@import './src/assets/styles/mixins';

.layout {
    animation: appearOutOfNowhere 500ms;
    display: flex;
    flex-flow: column;
    #mobile {
        display: none;
    }
    #web {
        height: 100%;
        width: 100%;
    }
}

@include respond(tab-port) {
    .layout {
        #web {
            display: none;
        }
        #mobile {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}