.login-page{
    background: url('../../assets/images/login_background.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}