@import './src/assets/styles/mixins';

.excuse-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 2.4rem;
    @include respond(desktop) {
        font-size: 2.8rem;
    }
    height: 100%;
    .excuse-content-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
        height: 2.8rem;
         @include respond(desktop) {
            flex-direction: row;
            width: 80%;
        }
        input {
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .excuse-title {
            display: block;
            font-family: "BAHNSCHRIFT";
            font-size: 1.8rem;
            @include respond(desktop) {
                padding-left: 1.4rem;
                width: 100%;

            }
        }
    }
    .horizontal-line {
        margin: auto;
        height: 0.3rem;
        width: 90%;
        background-color: gray;
    }
    .excuse-content-body {
        padding-top: 2.8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .excuse-body {
            box-sizing: border-box;
            font-family: "BAHNSCHRIFT";
            font-size: 1.8rem;
            padding: 1.4rem;
            border: 0.1rem lightgray solid;
            border-radius: 1rem;
            text-align: left;
            min-height: 21rem;
            width: 80%;
        }
        .send-excuse {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding-top: 1.4rem;
            width: 100%;
            @include respond(desktop) {
             width: 40%;

            }
        }
        textarea {
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            max-width: 100%;
            min-width: 50%;
            max-height: 50rem;
        }
    }
}