.user-details {
	display: flex;
	flex-direction: column;

	.circle-avatar-container {
		max-width: 14rem;
		margin: 1rem 0;
	}

	.name {
		font-weight: 700;
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.id {
		font-weight: lighter;
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}

	.program {
		font-weight: lighter;
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}
}
