@import './src/assets/styles/colors';

.logo {
	height: 4rem;
	margin-top: 0.2rem;
}

.header-container {
	position: relative;
	background-color: $primary-color;
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.header {
	width: 80%;
	margin: 0 auto;
}

.header-content {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media only screen and (max-width: 600px) {
	.logo {
	}

	.header-container {
	}

	.header {
	}

	.header-content {
		justify-content: center;
	}

	#sign-out{
		display: none;
	}
}
