@import './src/assets/styles/colors';

.logo {
	height: 6rem;
	margin-top: 0.2rem;
}

.header-container {
	position: relative;
	background-color: $primary-color;
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.header {
	width: 80%;
	margin: 0 auto;
}

.header-content {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
