@import '../../assets/styles/colors';

.circle-avatar {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color-grey;
	shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
	border: 0.15rem solid $color-grey-dark;
}
