@import '../../assets/styles/colors';

.circle-avatar {
	display: block;
	max-width: 100%;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color-grey;
	border-radius: 100%;
	border: 0.15rem solid $color-grey-dark;
}
