@import "./src/assets/styles/mixins";
@import "./src/assets/styles/colors";

.student-list {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  font-size: 2rem;
  @include respond(phone) {
    font-size: 1.5rem;
  }
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border-spacing: 0;
  border-radius: 10px;
  border: 0.1rem solid $color-grey-borders;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.025);
  border-collapse: collapse;

  td {
    word-wrap: break-word;
    padding: 4px 2px;
    font-size: 0.9em;
    border: none;
    background-color: white;
    color: $color-grey-font;
  }
  .header-row {
    background-color: $primary-color;
  }

  .margin-center {
    margin: 0 auto;
  }
  &-present-students {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    &-tag{
      font-size: 1.2rem;
    }
  }

  &-container {
    position: relative;
    min-height: 50vh;
    @include respond(phone) {
      min-height: 30vh;
    }
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  &-datepicker {
    width: 20rem;
    text-align: end;
    align-self: flex-start;
    display: block;
    font-family: "BAHNSCHRIFT";
    font-size: 1.8rem;
    padding: 1rem 0;
    direction: rtl;
    outline: none;
    margin-right: 1rem;
    letter-spacing: 0.2rem;
    &::-webkit-datetime-edit {
      padding: 0em;
    }
    &::-webkit-datetime-edit-text {
      color: $primary-color-dark;
      padding: 0 0.3em;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      color: $primary-color-dark;
    }
    &::-webkit-clear-button {
      display: none;
    }
  }

  &-loading {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
