@import './src/assets/styles/colors';
.notification-pill {
    box-sizing: border-box;
    font-size: 2.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    border: 0.2rem solid $color-grey-borders;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    .view-more {
        align-self: flex-end;
        font-size: 2vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5vh;
        width: 2.5vh;
        border-radius: 50%;
        color: $color-grey-dark;
        background: white;
        border: 1px solid $color-grey-borders;
        padding: 0.5rem;
        transform: translate(50%, 20%);
        transition: 300ms;
        &:hover {
            transform: translate(50%, 20%) scale(1.1);
            cursor: pointer;
        }
    }
}

.notification-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    @media (min-width: 1025px) {
        font-size: 2rem;
    }
    height: 100%;
    .notification-content-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 95%;
        @media (min-width: 1025px) {
            flex-direction: row;
            width: 80%;
        }
    }
    .horizontal-line {
        margin: auto;
        height: 0.2rem;
        width: 90%;
        background-color: gray;
    }
    .notification-content-body {
        padding: 4rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        .notification-dismiss {
            padding-top: 4rem;
        }
    }
}