@import '../src/assets/styles/mixins';
.App > div {
	height: 100%;
}

.App-logo {
	height: 40vmin;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(desktop) {
		//75em
		font-size: 45%;
	}
	@include respond(big-desktop) {
		//112.5em
		font-size: 60%;
	}


	@media only screen and (min-width: 64em) and (max-height: 85.375em) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
		font-size: 62.5%;
	}

	@include respond(tab-land) {
		//75em
		font-size: 50%;
	}
	@include respond(big-tab-port) {
		//64em
		font-size: 50%;
	}

	@media only screen and (min-width: 64em) and (max-height: 85.375em) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
		font-size: 70%;
	}
	@include respond(tab-port) {
		//56.25em
		font-size: 70%;
	}
	@include respond(phone) {
		//37.5em
		font-size: 55%;
	}
	@include respond(small-phone) {
		//22.5em
		font-size: 50%;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}
