@import '../src/assets/styles/mixins';
.App > div {
	height: 100%;
}

.App-logo {
	height: 40vmin;
}

html {
	font-size: 62.5% !important;
	scroll-behavior: smooth;
	@include respond(tab-land) {
		font-size: 100% !important;
	}
	@include respond(tab-port) {
		font-size: 75% !important;
	}
	@include respond(phone) {
		font-size: 65% !important;
	}
	@include respond(small-phone) {
		font-size: 50% !important;
	}
	@include respond(desktop) {
		font-size: 48.5% !important;
	}
	@include respond(big-desktop) {
		font-size: 62.5% !important;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}
