$primary-color: #fecd1c;
$primary-color-light: #fddd6a;
$color-black: #000000;
$color-grey: #f2f1f1;
$color-grey-dark: #707070;
$color-grey-disabled: #888181;
$color-grey-font: #585858;
$color-grey-borders: rgba(211, 211, 211, 0.582);