@import '../../assets/styles/colors';

.nav-item-container {
    height: 3rem;
    display: block;
    margin: 1.5rem 0;
    transition: all 0.3s;
    
	.nav-item {
		text-decoration: none;
		transition: all 0.3s;
		font-weight: bold;
		font-size: 1.7rem;
		color: $color-grey-disabled;

		&:hover {
            font-size: 2.2rem;

        }

		&-active {
			font-size: 2.2rem;
			color: $color-black;
		}
	}
}
