.mobile-container {
	background: url('../../assets/svgs/mobile_backgrounds/default_background.svg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 100%;
}

.mobile-content{
	height: 90%;
	width: 100%;
}

.mobile-tabs{
	display: flex !important;
	flex-direction: row;
	justify-content: space-evenly;

}